body
{
    background-image: url("imag/gif1.gif");
    background-size: cover;
    background-repeat: no-repeat;
}
h1
{
    font-family: 'Segoe UI';
    font-size: 8em;
    background-image: linear-gradient(to right, rgb(14, 232, 232) , rgb(36, 232, 215));
    background-clip: text;
    -webkit-background-clip: text;
    color: aqua;
    text-shadow: 0px 15px 45px;
}
.contenedor
{
    margin-top: 100px;
    padding: 25px;
    display: flex;
    border-radius: 30px;
}
.text
{
    padding-left: 35px;
    padding-top: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: rgb(133, 228, 249);
}
.contenedor1
{
    margin-top: 100px;
    padding: 25px;
    display: flex;
    border-radius: 30px;
    background-color: rgba(121, 8, 70, 0.502);
}
.text1
{
    padding-left: 35px;
    padding-top: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: rgb(133, 228, 249);
    text-shadow: 0px 15px 45px;
}
img
{
    width: 500px;
    height: 350px;
    border-radius: 30px;
}
a
{
    margin: 1em;
    padding: 1em;
    text-decoration: none;
    font-family: fantasy;
    color:white;
}
a:hover
{
    background-color: rgb(17, 17, 17);
    color: black;
}