h1
{
    font-family: 'Segoe UI';
    text-shadow: 0px 10px 25px;
    font-size: 8em;
    background-image: linear-gradient(to right, rgb(16, 17, 17) , rgb(139, 139, 134));
    color: turquoise;
    background-size: hidden;
    border-radius: 30px;
    width: 900px;
}
.contenedor
{
    margin-top: 100px;
    padding: 25px;
    display: flex;
    background-color: rgb(155, 56, 87);
    border-radius: 30px;
}
.text
{
    padding-left: 35px;
    padding-top: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: rgb(63, 4, 6);
}
img
{
    width: 500px;
    height: 350px;
    border-radius: 30px;
    box-shadow: 0px 10px 25px;
}
.contenedor1
{
    margin-top: 50px;
    padding: 25px;
    display: flex;
    background-color: rgb(21, 108, 119);
    border-radius: 30px;
    float: right;
}
.text1
{
    padding-left: 30px;
    padding-top: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    background-image: linear-gradient(to right, rgb(219, 23, 33) , rgb(47, 47, 46));
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    border-radius: 40px;
}
video
{
    width: 500px;
    height: 380px;
    border-radius: 30px;
    box-shadow: 0px 10px 25px;
    background-size: cover;
}